@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./img/Backgrund001.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.logo {
    transition: all 0.3s ease-in-out;
    padding-left: 10%;
}

.logo:hover {    
    transform: scale(1.1); 
}

.cabecalho-link{
    display:flex;
    gap: 8rem;
    font-weight: bolder 300;
    cursor: pointer;
    padding-left: 30%;
}

.cabecalho-link a{
    color: #fff;
    font-size: 25px;
}

.cabecalho-link :hover{
    color: #2ecc71;
    transition: 0.3s all;
    transform: scale(1.1);
}

.bt{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding:  5px;
    border-radius: 25px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    font-weight: bolder;    
}


.bt:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;

}

/*Desabilitando o menu-mobile*/
.menu-mobile{
    width: 0%;
    margin-left: 0;
    display:none;
}

.container-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.5rem;
    flex-wrap: wrap;
}

.text h2{
    color: #fff;
    font-size: 45px;
}

.text h1{
    color: #fff;
    margin-top: 15px;
    font-size: 70px;
}

.text h3{
    color: #fff;
    font-size: 25px;
}

.text span{
    color: #2ecc71;
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
    font-size: 10px;
}

.redes-social{
    margin-top: 15px;
    font-size: 50px;
    
}

.redes-social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px;
}

.redes-social :hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

.btn{
    margin-top: 20px;
    font-weight: bold;
}

.f_perfil :hover {
    transform: scale(1.1);
    box-shadow: 0 0 10em #444;
}

.img_perfil {
    width: 650px;
    height: 650px;
    border-radius: 370px 370px 370px 370px;
    transition: all 0.3s ease-in-out;
}


.modal {
    position: fixed;
    z-index: 10;
    width: 50vw;
    height: auto;
    left: 25vw;
    top: 50vh;
    background-color: #ffffff;
    transform: translateY(-25%);
    padding: 1rem;
    border: 1px solid silver;
    box-shadow: 4px 4px 8px #0002;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-out;
}

.modal.visivel {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(-50%);
}

.modal > header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0001;
}

.modal>.corpo-modal {
    padding: 1em 0;
    font-size: 25px;
}

.modal>footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #0001;
    padding-top: 0.75rem;
}

span.fechar-modal {
    background-color: #0002;
    border-radius: 50%;
    display: flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fechar-modal {
    width: 2em;
    height: 2em;
}

#mascara {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0001;
    pointer-events: none;
}

.modal.visivel~#mascara {
    opacity: 0.1;
    pointer-events: initial;
}


.icon_skills {
    font-size: 100px;
    text-align: center;
    transition: all 0.5s ease;
}
.icon_skills :hover {
    transform: scale(1.1);
    box-shadow: 0 0 3px black;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 25px #7e7609;
}

.b_shadown {
    box-shadow: 0 0 8px black;
    border-radius: 50px 50px 50px 50px;
}

.coluna{
    float: left;
    width: 33%;
    padding: 10px 10px;
    box-sizing: border-box;
}
.card{
    box-shadow: 0 0 3px #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease;
    
}
.card img{
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease;
    filter: grayscale(1);
}
.card:hover {
    box-shadow: 4px 6px 16px #000;
}
.card:hover img{
    filter: grayscale(0);
}


@media screen and (max-width:1615px) {

    .cabecalho-link{
        gap: 6rem;
        padding-left: 30%;
    }
        
    .text h2{
        font-size: 35px;
    }
    
    .text h1{
        font-size: 50px;
    }
    
    .text h3{
        font-size: 20px;
    }
    
    
    .redes-social{
        font-size: 50px;
    }

    .modal>.corpo-modal {
        font-size: 25px;
    }

    .icon_skills {
        font-size: 70px;
    }

    .b_shadown {
        width: 200px;
        height: 200px;
        border-radius: 45px 45px 45px 45px;
    }
    
            
}

@media screen and (max-width:1440px) {
    .cabecalho-link{
        gap: 5rem;
        padding-left: 30%;
    }

    .img_perfil {
        width: 525px;
        height: 525px;
    }
    .b_shadown {
        width: 170px;
        height: 170px;
        border-radius: 45px 45px 45px 45px;
    }
}

@media screen and (max-width:1320px) {
    .cabecalho-link a{
        font-size: 20px;
    }
    .text h2{
        font-size: 27px;
    }
    
    .text h1{
        font-size: 30px;
    }
    
    .text h3{
        font-size: 17px;
    }
    
    
    .redes-social{
        font-size: 30px;
        
    }
    
    .img_perfil {
        width: 450px;
        height: 450px;
    }
    .b_shadown {
        width: 160px;
        height: 160px;
        border-radius: 45px 45px 45px 45px;
    }
}




@media screen and (max-width:1127px) {
    .cabecalho-link{
        gap: 4rem;
        padding-left: 20%;
        
    }

    .text h2{
        font-size: 16px;
    }
    
    
    .text h1{
        font-size: 22px;
        margin-top: 10px;
    }
    
    .text h3{
        font-size: 14px;
        padding-right: 1%;
    }
    
    .img_perfil{
        width: 400px;
        height: 400px;
    }
    .icon_skills {
        font-size: 70px;
    }

    .b_shadown {
        width: 138px;
        height: 138px;
        border-radius: 30px 30px 30px 30px;
    }

    .card{
        font-size: 16px;
    }
}


@media screen and (max-width:1024px) {
    .text h3{
        padding-right: 1%;
    }
}

@media screen and (max-width:978px) {
    .cabecalho-link{
        gap: 3rem;
        padding-left: 20%;        
    }
    .cabecalho-link a{
        font-size: 18px;
    }

    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    .text h2{
        font-size: 18px;
    }
    
    
    .text h1{
        font-size: 25px;
    }
    
    .text h3{
        font-size: 14px;
    }
    
    .img_perfil{
        width: 350px;
        height: 350px;
    }

    .redes-social {
        font-size: 25px;
    }

    .redes-social a{
        padding: 8px;
        margin-top: 10px;
    }

    .bt {
        font-size: 15px;
        padding: 8px;
        margin-top: 10px;
        width: 120px;
        height: flex;
        margin-right: 5px;
    }
    .b_shadown {
        width: 100px;
        height: 100px;
        border-radius: 25px 25px 25px 25px;
    }
}


@media screen and (max-width:768px) {
    .cabecalho-link{
        gap: 3rem;
        padding-left: 10%;
        
    }
        
    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    .text h2{
        font-size: 18px;
    }
    
    
    .text h1{
        font-size: 25px;
    }
    
    .text h3{
        font-size: 14px;
    }
    .modal>.corpo-modal {
        padding: 1em 0;
        font-size: 15px;
    }
    .b_shadown {
        width: 100px;
        height: 100px;
        border-radius: 20px 20px 20px 20px;
    }

    
}

@media screen and (max-width:746px) {

    /*Ajustando a loga para esquerda*/
    .logo{
        margin-right: 60%;
    }

    /*Desativando o menu-Desktop*/
    .cabecalho-link{
        display: none;
    }

    /*Menu-mobile*/
    .btn-abrir-menu i{
        color: #2ecc71;
        font-size: 40px;
        margin-left: -20%;
}

    .menu-mobile{
        background-color: orange;
        height: 100vh;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .5s;
        display: block;
    }

    .menu-mobile.abrir-menu{
        width: 50%;
    }

    .menu-mobile.abrir-menu ~.overlay-menu{
        display: block;
    }

    .menu-mobile .btn-fechar{
        margin-top: 5%;
        margin-right: 80%;

    }

    .menu-mobile .btn-fechar i{
        color: #000;
        font-size: 30px;

    }

    .menu-mobile nav ul{
        text-align: right;
    }

    .menu-mobile nav ul li a{
        color: #000;
        font-size: 20px;
        font-weight: 300;
        padding: 30px 8%;
        display: block;
    }

    .menu-mobile nav ul li a:hover{
        background-color: greenyellow;
    }

    .overlay-menu{
        background-color: #000000a7;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }

    .modal>.corpo-modal {
        padding: 1em 0;
        font-size: 15px;
    }
    .b_shadown {
        width: 85px;
        height: 85px;
        border-radius: 20px 20px 20px 20px;
    }
}

@media screen and (max-width:602px){

    .img_logo {
        width: 50px;
        height: 50px;
    }

    .cabecalho-link {
        display:flex table-column ;
        gap: 1rem;
        padding-left: 5%;        
    }

    .cabecalho-link a{
        font-size: 13px;
    }

    .background{
        background-position:center;
    }

    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    .text h2{
        font-size: 18px;
    }
    

    .img_perfil {
        width: 250px;
        height: 250px;
    }


    .modal {
        z-index: 10;
        width:80%;
        height: auto;
        left: 10%;
        right: -10%;
        top: 50vh;
        font-size: 14px;
        justify-content: center;
    }
    .modal>.corpo-modal {
        padding: 1em 0;
        font-size: 15px;
    }
    .b_shadown {
        width: 100px;
        height: 100px;
        border-radius: 20px 20px 20px 20px;
    }
}

@media screen and (max-width:430px) {
    

    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 3rem;
        text-align: center;
    }

    .text h2{
        font-size: 20px;
    }
    
    
    .text h1{
        font-size: 27px;
        margin-top: 15px;
    }
    
    .text h3{
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
    }

    .redes-social {
        font-size: 27px;
    }

    .redes-social a{
        padding: 8px;
        margin-top: 10px;
    }

    .bt {
        font-size: 15px;
        padding: 8px;
        margin-top: 10px;
        width: 120px;
        height: flex;
        margin-right: 5px;
    }

    .modal>.corpo-modal {
        padding: 1em 0;
        font-size: 15px;
    }

    .icon_skills {
        font-size: 30px;
    }

    .b_shadown {
        width: 80px;
        height: 80px;
        border-radius: 20px 20px 20px 20px;
    }
    .coluna{
        width: 50%;
        height: 100%;
    }
    .card{
        font-size: 12px;
    }
}

@media screen and (max-width: 390px) {
    .text h1{
        font-size: 22px;
        margin-top: 15px;
    }
    
    .text h3{
        font-size: 14px;
        margin-top: 15px;
    }
    .b_shadown {
        width: 60px;
        height: 60px;
        border-radius: 20px 20px 20px 20px;
    }

}

@media screen and (max-width: 360px) {
    
    .container-text{
        padding-top: 1rem;
    }

    .text h2{
        font-size: 17px;
    }

    .text h1{
        font-size: 18px;
        margin-top: 5px;
    }
    
    .text h3{
        font-size: 12px;
        margin-top: 5px;
    }

    .img_perfil {
        width: 170px;
        height: 170px;
    }

    .redes-social {
        margin-top: 5px;
    }

    .bt{
        width: 110px;
        font-size: 12px;
        margin-top: 5px;
    }

}