@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./img/Backgrund001.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.logo {
    transition: all 0.3s ease-in-out;
}

.logo:hover {    
    transform: scale(1.1); 
}

.cabecalho-link{
    display: flex;
    gap: 3rem;
    font-weight: bolder 300;
    cursor: pointer;   
}

.cabecalho-link a{
    color: #fff;
    font-size: 25px;
}

.cabecalho-link :hover{
    color: #2ecc71;
    transition: 0.3s all;
    transform: scale(1.1);
}

.bt{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding:  5px;
    border-radius: 25px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    font-weight: bolder;    
}


.bt:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;

}


.container-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.5rem;
    flex-wrap: wrap;
}

.text h2{
    color: #fff;
    font-size: 45px;
}

.text h1{
    color: #fff;
    margin-top: 15px;
    font-size: 70px;
}

.text h3{
    color: #fff;
    font-size: 25px;
}

.text span{
    color: #2ecc71;
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
    font-size: 10px;
}

.redes-social{
    margin-top: 15px;
    font-size: 50px;
}

.redes-social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px;
}

.redes-social :hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}


.btn{
    margin-top: 20px;
    font-weight: bold;
}


.img_perfil {
    width: 650px;
    height: 650px;
}

.f_perfil :hover {
    transform: scale(1.1);    
    transition: all 0.3s ease-in-out;
}

.img_perfil :hover {
    transform: scale(1.1);    
    transition: all 0.3s ease-in-out;
}

.modal {
    position: fixed;
    z-index: 10;
    width: 50vw;
    height: auto;
    left: 25vw;
    top: 50vh;
    background-color: #ffffff;
    transform: translateY(-25%);
    padding: 1rem;
    border: 1px solid silver;
    box-shadow: 4px 4px 8px #0002;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-out;
}

.modal.visivel {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(-50%);
}

.modal > header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0001;
}

.modal>.corpo-modal {
    padding: 1em 0;
    font-size: 25px;
}

.modal>footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #0001;
    padding-top: 0.75rem;
}

span.fechar-modal {
    background-color: #0002;
    border-radius: 50%;
    display: flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fechar-modal {
    width: 2em;
    height: 2em;
}

#mascara {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0001;
    pointer-events: none;
}

.modal.visivel~#mascara {
    opacity: 0.1;
    pointer-events: initial;
}


.icon_projetos {
    font-size: 220px;
}
.icon_projetos :hover {
    transform: scale(1.1);    
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width:1124px) {
    .text h2{
        font-size: 16px;
    }
    
    
    .text h1{
        color: #fff;
        font-size: 22px;
        margin-top: 10px;
    }
    
    .text h3{
        color: #fff;
        font-size: 14px;
    }
    
    .img_perfil{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:1124px) {
    .text h3{
        padding-right: 1%;
    }
}

@media screen and (max-width:970px) {
    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    .text h2{
        font-size: 18px;
    }
    
    
    .text h1{
        color: #fff;
        font-size: 25px;
        margin-top: 10px;
    }
    
    .text h3{
        color: #fff;
        font-size: 14px;
    }
    
    .img_perfil{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:768px) {
    
    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    .text h2{
        font-size: 18px;
    }
    
    
    .text h1{
        color: #fff;
        font-size: 25px;
        margin-top: 10px;
    }
    
    .text h3{
        color: #fff;
        font-size: 14px;
    }
    
    .img_perfil{
        width: 400px;
        height: 400px;
    }
}


@media screen and (max-width:600px){

    .img_logo {
        width: 50px;
        height: 50px;
    }

    .cabecalho-link {
        display:flex table-column ;
        gap: 1rem;
        padding-left: 5%;        
    }

    .cabecalho-link a{
        font-size: 13px;
    }

    .bt{
        width: 100px;   
    }

    .background{
        background-position:center;
    }

    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    .text h2{
        font-size: 18px;
    }
    
    
    .text h1{
        color: #fff;
        font-size: 25px;
        margin-top: 10px;
    }
    
    .text h3{
        color: #fff;
        font-size: 14px;
    }

    .img_perfil {
        width: 250px;
        height: 250px;
    }


    .modal {
        z-index: 10;
        width:80%;
        height: auto;
        left: 6%;
        right: -10%;
        top: 50vh;
        font-size: 14px;
    }
}

@media screen and (max-width:428px) {

    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 3rem;
        text-align: center;
    }

    .text h2{
        font-size: 20px;
    }
    
    
    .text h1{
        color: #fff;
        font-size: 27px;
        margin-top: 15px;
    }
    
    .text h3{
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
    }

    .redes-social {
        font-size: 27px;
    }

    .redes-social a{
        padding: 8px;
        margin-top: 10px;
    }

    .bt {
        font-size: 15px;
        padding: 8px;
        margin-top: 10px;
        width: 120px;
        height: flex;
    }

    .modal>.corpo-modal {
        padding: 1em 0;
        font-size: 15px;
    }

    .icon_projetos {
        font-size: 70px;
    }
}

@media screen and (max-width: 390px) {
    .text h1{
        color: #fff;
        font-size: 22px;
        margin-top: 15px;
    }
    
    .text h3{
        font-size: 14px;
        margin-top: 15px;
        text-align: center;
    }

}

@media screen and (max-width: 360px) {
    
    .container-text{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 1rem;
        text-align: center;
    }

    .text h2{
        font-size: 17px;
    }

    .text h1{
        color: #fff;
        font-size: 18px;
        margin-top: 5px;
    }
    
    .text h3{
        font-size: 12px;
        margin-top: 5px;
        text-align: center;
    }

    .img_perfil {
        width: 170px;
        height: 170px;
    }

    .redes-social {
        margin-top: 5px;
    }

    .bt{
        width: 110px;
        font-size: 12px;
        margin-top: 5px;
    }

}